/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font weights:
Default: 400
medium: 500
Semi-bold: 600
Bold: 700
- Line heights:
Default: 1
Paragraph default: 1.6
--- 02 COLORS
- Primary: 
#B91C1C

- Tints:

- Shades:
#6e0000
#250606
- Accents:
- Greys:
#111827
#1F2937
#F3F4F6
- Whites: 
#fef2f2
--- 03 IMAGES
--- 04 ICONS
--- 05 SHADOWS
--- 06 BORDER-RADIUS
Buttons: 0.9px
Other: 1.2px
box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1.2rem;
box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 24px;
1.6rem
--- 07 WHITESPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  color: #1f2937;
}
/***************************************/
/*REUSABLE*/
/***************************************/

.margin--bottom--tiny {
  margin-bottom: 0.4rem !important;
}
.margin--bottom--small {
  margin-bottom: 1.2rem !important;
}
.margin--bottom--medium-small {
  margin-bottom: 2.4rem !important;
}
.margin--bottom--medium {
  margin-bottom: 4.8rem !important;
}

.border-radius {
  border-radius: 1.2rem;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: background-color 0.3s;
}

.btn-small:link,
.btn-small:visited {
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  padding: 1.2rem 2rem;
  border-radius: 9px;
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #b91c1c;
}

.btn--full:hover,
.btn--full:active {
  background-color: #6e0000;
}

/***************************************/
/*NAV SECTION                          */
/***************************************/
header {
  position: relative;
}

.sticky .nav-block {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #6e0000;
  z-index: 999;
}
.nav-block {
  padding: 1.6rem 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}
.nav-title:visited,
.nav-title:link {
  text-decoration: none;
  color: #fef2f2;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.nav-icon {
  height: 4.8rem;
}
.nav-list {
  font-size: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.nav-item a:visited,
.nav-item a:link {
  text-decoration: none;
  color: #fef2f2;
}
.mobile-nav-buttons {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.mobile-nav-button-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #fef2f2;
}
.mobile-nav-button-icon[name="close"] {
  display: none;
}

/***************************************/
/*HERO SECTION                         */
/***************************************/

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("images/thural-min.jpg");
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.sticky .hero {
  margin-top: 0;
}
.hero {
  margin: 12rem auto;
  max-width: 130rem;

  color: #fef2f2;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text {
  padding: 6.4rem 14.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-header {
  margin-bottom: 4.8rem;
  font-size: 5.2rem;
  text-align: center;
  transition: all 0.5 ease-in;
}
.hero-text p {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: center;
}
.hero-text .btn {
  text-align: center;
}

/***************************************/
/*FEATURES SECTION                     */
/***************************************/
.features-section {
  margin: 6.4rem auto;
  padding: 0 3.2rem;
  max-width: 120rem;
}
.features-header {
  font-size: 4.4rem;
}
.features-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2.4rem;
}
.features-card {
  list-style: none;
  padding: 1.6rem 2.4rem;
  height: 100%;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;

  transition: all 0.3s;
}
.features-card:hover {
  background-color: #b91c1c;
  color: #fef2f2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 24px;
}
.features-icon {
  height: 5.2rem;
}
.feature-header {
  font-size: 3.2rem;
}
.features-card p {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 500;
}

/***************************************/
/*TESTIMONIALS SECTION                 */
/***************************************/
.testimonials-section {
  padding: 5.6rem 0;
  background-color: #f3f4f6;
  overflow: hidden;
}
.testimonials-grid {
  max-width: 120rem;
  padding: 0 4.8rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}
.testimonials-grid .testimonial:nth-child(odd) {
  justify-self: right;
}
.testimonials-grid .testimonial:nth-child(even) {
  justify-self: left;
}
.testimonial {
  max-width: 100rem;
  height: 25rem;

  padding: 1.6rem 2.4rem;
  margin: 2.4rem 0;

  font-size: 1.8rem;
  color: #fef2f2;
  background-color: #6e0000;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1.2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;

  transition: all 0.3s;
}
.testimonial--left {
  padding-left: 4.8rem;
  gap: 1.2rem;
}
.testimonial:hover {
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 3.6rem;
}
.testimonial-text {
  padding: 1.6rem;
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.6rem;
}
.testimonial-text-quote {
  line-height: 1.4;
}
.testimonial-text-name {
  font-weight: 300;
  font-style: italic;
  margin-bottom: 2.4rem;
}
.testimonials-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.testimonials-stars img {
  height: 2.4rem;
}
.testimonial-image-nicki {
  max-width: 32rem;
  margin: 1.6rem auto;
  display: block;
  transform: scale(2);
}
.testimonial-image-square {
  height: 35rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1.2rem;
}

/***************************************/
/*SHOP SECTION                         */
/***************************************/

.shop-section {
  margin: 6.4rem auto;
  padding: 0 3.2rem;
  max-width: 140rem;
}
.shop-header {
  font-size: 4.4rem;
  margin-bottom: 3.2rem;
}
.shop-description {
  font-size: 1.8rem;
  line-height: 1.6;
}
.shop-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  column-gap: 4.8rem;
  row-gap: 2.4rem;
}
.shop-option {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1.2rem;
}
.shop-option--highlight {
  background-color: #f46969;
  position: relative;
  overflow: hidden;
}
.shop-option--highlight::after {
  content: "Best Price";
  position: absolute;
  color: #fef2f2;
  background-color: #250606;

  top: 4%;
  right: -20%;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 5.6rem;
  transform: rotate(45deg);
}
.shop-option-img-box {
  padding: 2.4rem 2.4rem;

  background-color: #f3f4f6;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.shop-option-img-box--highlight {
  background-color: #d83c3c;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}
.shop-option-img {
  height: 8rem;
  margin: 0 auto;
  display: block;
}
.shop-option-content {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
}
.shop-option-header {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.shop-option-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.shop-option-list--highlight {
  margin-bottom: 2.4rem;
}
.shop-option-list-item {
  font-size: 1.6rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.shop-option-img-inline {
  height: 4.4rem;
}
.shop-option-purchase {
  max-width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: right;
  gap: 3.2rem;
}
.shop-option-price {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

/***************************************/
/*FOOTER SECTION                       */
/***************************************/

.footer-section {
  padding: 3.2rem 3.2rem;
  background-color: #1f2937;
  color: #fef2f2;
  line-height: 1.6;
  font-size: 1.6rem;
}
.footer-header {
  font-size: 2.4rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 8rem;
}
.footer-column-header {
  font-size: 1.8rem;
}
.footer-contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}
.footer-contact-list-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer-social-icon {
  max-width: 3.2rem;
}
.contact-linkedin:link,
.contact-linkedin:visited {
  color: #fef2f2;
}
.footer-credit-item {
  font-size: 1.2rem;
}
.footer-credit-link:link,
.footer-credit-link:visited {
  font-size: 1.2rem;
  color: #fef2f2;
}
